body{
    font-family: Verdana, Arial;
    margin: 25px 25px 0px 25px;
}
h1{
    font-size: 48px;
    color: blue;
    padding: 15px;
}
h2{
    font-size: 32px;
}
p{
    font-size: 24px;
    padding-bottom: 15px;
    padding-left: 15px;
}
img{
    width: 350px;
    border: 10px dashed black;
}
div{
    min-height: 100px;
    padding: 20px;
    border: 3px solid white;
}
.red{
    background-color: #FF7F7F;
    text-align: right;
    margin-left: 50px;
    border-bottom: 3px;
    border-left: 10px;
}
.blue{
    background-color: #ADD8E6;
    text-align: left;
    margin-right: 50px;
    border-right: 10px;
    border-bottom: 3px;
}
span{
    text-decoration: underline;
    text-transform: uppercase;
}
footer{
    /* background: rgb(0,0,0); */
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,255,1) 70%, rgba(0,0,0,1) 100%);
}